Repository Alibaba-Quark/SSP: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, autopep8, flake8, shellcheck

black:
  name: black
  description: 'Black: The uncompromising Python code formatter'
  entry: black
  language: python
  args:
  - --line-length=120

isort:
  name: isort
  description: 自动排序导入语句
  entry: isort
  language: python
  args:
  - --profile=black
  - --line-length=120

autopep8:
  name: autopep8
  description: automatically formats Python code to conform to the PEP8
  entry: autopep8
  language: python
  args:
  - --in-place
  - --recursive
  - --ignore=W503,W504,W605,E501,E266,E203
  - --max-line-length=120

flake8:
  name: flake8
  description: 检查 PEP8 规范
  entry: flake8
  language: python
  args:
  - --ignore=W503,W504,W605,E501,E266,E203,F541,F401
  - --max-line-length=120

shellcheck:
  name: shellcheck
  description: 检查shell脚本语法
  entry: shellcheck
  language: python
  args:
  - --severity=warning

doc:add news
  README.md
Due: none

docs:update readme
  README.md
Due: none

feat: add preprocessing script and update docs
  README.md
  examples/data_preprocess/preprocess_ssp_dataset.py
  examples/data_preprocess/preprocess_ssp_eval_dataset.py
  examples/data_preprocess/preprocess_ssp_train_dataset.py
Due: black, isort, autopep8, flake8

docs: release data
  README.md
Due: none

docs: update requirements
  README.md
  requirements.txt
Due: none

docs: PYTHONPATH
  README.md
  examples/train_ssp.sh
Due: shellcheck

fix: preprocess gt as str instead of list
  examples/data_preprocess/preprocess_ssp_train_dataset.py
Due: black, isort, autopep8, flake8

Fix: Prevent PPO ratio corruption and KL divergence spikes in multi-role self-play
  quarl/trainer/ppo/ssp_ray_trainer.py
Due: black, isort, autopep8, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  autopep8: any of: \.py$
  flake8: any of: \.py$
  shellcheck: any of: .sh
